body {
  background: #0f172a;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #111827;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

input {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 6px 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}
